{ block 'lang' }
    <%
     { include 'lang/lang.js' }
    %>
{ /block}

<!DOCTYPE html>
<html lang="en">
<head>    
    <title>{ block 'title' }default title <%= langs[LANG].title %> { /block }</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/global.css" />
</head>
<body>

<header>
    <h1>header</h1>
</header>

<ol>
    <% langs[LANG].navs.forEach((nav) => { %>
     <li <% if (typeof nav != 'undefined' && nav == 'nav1') { %> class="active" <% } %>>
        <a href="<%= nav.link %>"><%= nav.name %></a>
     </li>
    <% }) %>
</ol>

{ block 'body' }
    default body
{ /block }

{ block 'side' }
    default side
{ /block }



<footer>
    <h3>footer</h3>
</footer>

<script src="/assets/libs/require/require.js" data-main="/assets/js/main.js"></script>
</body>
</html>
